{% extends "base.html" %}

{% block content %}
    {% if current_user.username %}
    <h1>Witaj, {{ current_user.username }}!</h1>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts %}
    <p>
    {{ post.user.username }} says: <b>{{ post.content }}</b>
    </p>
    {% endfor %}
{% endblock %}