{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
    <p>
    {{ post[1].username }} says: <b>{{ post[0].content }}</b> time: {{ post[0].date }}
        {% if current_user.username == post[1].username or current_user.type == 'Administrator' or current_user.type == 'Moderator' %}
            <form action="{{ url_for('delete_post', id=post[0].id) }}" method="post" >
                <input type=submit value="Delete"/>
            </form>
            <form action="{{ url_for('update_post', id=post[0].id) }}" method="post">
            {{ form.hidden_tag() }}
            <p>
                 {{ editForm.post(cols=32, rows=4) }}<br>
                 {% for error in editForm.post.errors %}
                 <span style="color: red;">[{{ error }}]</span>
                 {% endfor %}
             </p>
            <p>{{ editForm.submit() }}</p>
            </form>
        {% endif %}
    </p>

    {% endfor %}
    {% if current_user.username %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
{% endblock %}